<h1>Hello rails Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>">
      <h2><%= article.title %></h2>
      </a>
      <%= article.body %>
    </li>
  <% end %>
</ul>